:root {
	--color-light: #c2deea;
	--color-medium: #005b82;
	--color-dark: #003145;
}

@mixin center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin paddingY($top, $bottom) {
	padding-top: $top;
	padding-bottom: $bottom;
}

@mixin widthHeight($width, $height) {
	width: $width;
	height: $height;
}

.container {
	@include center-content;
	@include widthHeight(100vw, 100vh);

	background-color: var(--color-light);

	form,
	main {
		@include center-content;
		@include widthHeight(85vw, clamp(55vh, 64.62vw, 65vh));

		flex-direction: column;
		background-color: white;
		max-width: 56rem;
		border-radius: clamp(1rem, 2.46vw, 1.5rem);
		box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

		> div,
		> button {
			margin: 0 auto;
			width: 80%;
		}

		> div:first-of-type {
			margin-bottom: clamp(1.5rem, 3.69vw, 2.25rem);
			color: var(--color-dark);

			h1 {
				margin: 0;
				font-size: clamp(1.5rem, 3.69vw, 2.25rem);
				text-align: center;
			}

			div {
				@include center-content;

				font-size: clamp(0.65rem, 1.6vw, 0.8rem);
				margin-top: clamp(0.5rem, 1.23vw, 0.75rem);

				p {
					margin: 0;
				}

				button {
					font-size: clamp(0.65rem, 1.6vw, 0.8rem);
					padding: 2px 6px;
					margin-left: clamp(0.5rem, 1.23vw, 0.75rem);
					color: var(--color-dark);
				}
			}
		}

		> div:not(:first-of-type) {
			margin-bottom: clamp(2rem, 4.92vw, 3rem);

			label,
			input {
				color: var(--color-dark);
			}

			p {
				position: absolute;
				bottom: clamp(-1.4rem, -3.45vw, -2.1rem);
				margin: 0;
			}
		}

		> button {
			@include paddingY(
				clamp(9px, 1.38vw, 13.5px),
				clamp(9px, 1.38vw, 13.5px)
			);

			color: var(--color-light);
			border-color: var(--color-dark);
			width: 60%;
			max-width: 22.5rem;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.container {
		background-color: var(--color-dark);

		form {
			background-color: var(--color-medium);

			> div:first-of-type {
				color: var(--color-light);

				div button {
					color: var(--color-light);
					border-color: var(--color-light);
				}
			}

			> div:not(:first-of-type) div {
				background-color: var(--color-light);
			}
		}
	}
}
