#login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: #c2deea;

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: white;
		height: clamp(55vh, 64.62vw, 65vh);
		width: 85vw;
		max-width: 56rem;
		border-radius: clamp(1rem, 2.46vw, 1.5rem);
		box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

		> div,
		> button {
			margin: 0 auto;
			width: 80%;
		}

		> div:first-of-type {
			margin-bottom: clamp(1.5rem, 3.69vw, 2.25rem);
			color: #003145;

			h1 {
				margin: 0;
				font-size: clamp(1.5rem, 3.69vw, 2.25rem);
				text-align: center;
			}

			div {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: clamp(0.65rem, 1.6vw, 0.8rem);
				margin-top: clamp(0.5rem, 1.23vw, 0.75rem);

				p {
					margin: 0;
				}

				button {
					font-size: clamp(0.65rem, 1.6vw, 0.8rem);
					padding: 2px 6px;
					margin-left: clamp(0.5rem, 1.23vw, 0.75rem);
					color: #003145;
				}
			}
		}

		> div:not(:first-of-type) {
			margin-bottom: clamp(2rem, 4.92vw, 3rem);

			p {
				position: absolute;
				bottom: clamp(-1.4rem, -3.45vw, -2.1rem);
				margin: 0;
			}
		}

		> button {
			width: 60%;
			max-width: 22.5rem;
			padding-top: clamp(9px, 1.38vw, 13.5px);
			padding-bottom: clamp(9px, 1.38vw, 13.5px);
		}
	}
}

@media (prefers-reduced-motion: no-preference) {
}
